:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --mainbg: hsl(217, 54%, 11%);
  --cardbg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Outfit;

  padding-top: 20px;
  background-color: var(--mainbg);
  color: var(--softblue);
}

h1 {
  color: var(--white);
}

p {
  font-weight: 300;
}

i {
  display: inline-block;
  margin-right: 8px;
}

.card {
  display: flex;
  width: 310px;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 20px;
  margin: 16px 0;

  background-color: var(--cardbg);
  box-shadow: 0 4px 16px rgb(0, 0, 0, 0.3);
}

.card-img {
  display: flex;

  width: 100%;
  margin-bottom: 12px;
}

.card-img img {
  border-radius: 14px;
  width: 100%;
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  width: 100%;
}

.card-value {
  color: var(--cyan);
}

h1 {
  font-weight: 600;
  font-size: x-large;
  margin: 11px 0 5px;
}

p {
  margin: 10px 0 18px;
  line-height: 24px;
}

hr {
  color: var(--line);
  background-color: var(--line);
  border: none;
  height: 1px;
  margin: 17px 0;
  width: 99%;
}

.card-stats {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.card-creator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  width: 100%;
}

.card-creator-pfp {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 10%;
  margin-right: 14px;
}

.card-creator-pfp img {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card-creator-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
